<section>
  <div class="page-header">
    <h1>Transaccion_cuentas</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="transaccion_cuenta in vm.transaccion_cuentas" ui-sref="transaccion_cuentas.view({ transaccion_cuentaId: transaccion_cuenta._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="transaccion_cuenta.created | date:'mediumDate'"></span>
        by
        <span ng-if="transaccion_cuenta.user" ng-bind="transaccion_cuenta.user.displayName"></span>
        <span ng-if="!transaccion_cuenta.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="transaccion_cuenta.title"></h4>
      <p class="list-group-item-text" ng-bind="transaccion_cuenta.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.transaccion_cuentas.$resolved && !vm.transaccion_cuentas.length">
    No transaccion_cuentas yet, why don't you <a ui-sref="transaccion_cuentas.create">create one</a>?
  </div>
</section>
