<div id="content" class="content">
  
      <div class="row">
          <div class="col-md-12">
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                            </div>
                            <h4 class="panel-title">Te amo juan</h4>
                        </div>
                        <div class="panel-body">
                            
<section>
  <div class="page-header">
    <h1>{{vm.compartido._id ? 'Edit Compartido' : 'New Compartido'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.compartidoForm" class="form-horizontal" ng-submit="vm.save(vm.form.compartidoForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="title">Title</label>
          <input name="title" type="text" ng-model="vm.compartido.title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="vm.form.compartidoForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Compartido title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="content">Content</label>
          <textarea name="content" data-ng-model="vm.compartido.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.compartido._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>

                            
                        </div>
                    </div>
          </div>
      </div>
    </div>




