<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>Querid@ {{name}},</p>
  <br />
  <p>
    Nos enviaste una petición para el cambio de tu contraseña de la página {{appName}}
  </p>
  <p>Por favor clickea en el link que proporcionado para realizar el cambio de tu contraseña:</p>
  <p>{{url}}</p>
  <img src="https://scontent-mia1-2.xx.fbcdn.net/v/t1.0-9/14355654_1212311212124657_4982137977522681081_n.jpg?oh=eab5edd19a9129839cf5de40a39fad1e&oe=58836375">
  <strong>Si no hiciste esta petición por favor ignora este mensaje</strong>
  <br />
  <br />
  <p>Un saludo cordial del equipo de {{appName}}</p>
</body>

</html>
