<div id="content" class="content">
     

      <div class="row">
          <div class="col-md-12">
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                            </div>
                        </div>
                        <div class="panel-body">
                            <h1>Forbidden</h1>
								<div class="alert alert-danger" role="alert">
								  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								  <span class="sr-only">Error:</span>
								  You are not authorized to access this resource
								</div>

                        </div>
                    </div>
          </div>
      </div>
    </div>



