  <div id="sidebar" class="sidebar">
      <!-- begin sidebar scrollbar -->
      <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
          <li class="nav-profile">
            <div class="image">
              <a href="javascript:;"><img src="assets/img/user-13.jpg" alt="" /></a>
            </div>
            <div class="info">
              Administrador
              <small>Solbasta Admin</small>
            </div>
          </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
          <li class="nav-header">Navigation</li>
          <li class="has-sub">
            <a href="javascript:;">
                <b class="caret pull-right"></b>
                <i class="fa fa-laptop"></i>
                <span>Solbasta</span>
              </a>
            <ul class="sub-menu">
                <li><a href="/">Dashboard / Index</a></li>
                <li><a href="/Forms">Formularios</a></li>
                <li><a href="/BasicTables">Tablas</a></li>
                <li><a href="/Gallery">Galeria</a></li>
                <li><a href="/Blank">Blank</a></li>
                <li><a href="/Profile">Perfil</a></li>


            </ul>
          </li>
        
              <!-- begin sidebar minify button 
          <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
              end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
      </div>
      <!-- end sidebar scrollbar -->
    </div>