   <main id="como-juego" ng-init="vm.changeClass('como-juego')">
      <header>
        <h1>Te ensenamos a jugar<span>¡solo sigue estos simples pasos y empieza a ganar!</span></h1>
      </header>
      <div id="pasos">    
        <ol class="am">
          <li><b>1.</b>
            <h2>Registrate</h2>
            <p>En la esquina superior derecha de la página, encuentra el boton</p>
            <a href="/register#top" title="Registrate">Registrate</a>
            <a href="/login#top" title="Iniciar Sesión">Iniciar Sesión</a>

          </li>
          <li><b>2.</b>
            <h2>Compra solsazos</h2>
            <p>Ve al menú y busca: <b>"comprar solzasos", </b> ahi escoge el paquete que desees comprar para que puedas jugar. Y paga con tarjeta, mediante paypa o visa.</p>
          </li>
          <li><b>3.</b>
            <h2>Empieza ofertando</h2>
            <p>Entra a subastas en vivo y usa tus solzasos comprados para ofertar en las subastas, cuantas veces quieras. Todas <b> las subastas empiezan en cero soles (s/0.00)</b></p>
            <a href="/en-vivo#top" title="Subastas en Vivo">Ofertar</a>
          </li>
          <li><b>4.</b>
            <h2>Oferta y juega</h2>
            <p>Cada vez que alguien oferta, el precio <b>aumenta sólo un centavo</b> (S/.00.01) y el tiempo tambien aumentará en 10 segundos.</p>
          </li>
          <li><b>5.</b>
            <h2>Ganaste!</h2>
            <p>Si <b> el tiempo termina</b> (00:00:00), y fuiste el último en ofertar<b> ¡ganas!.</b> Sólo pagarás el precio final de la oferta en la web. <b> Tu premio llegará a tu casa.</b></p>
          </li>
        </ol>
      </div>
    </main>



    <script type="text/javascript" src="assets/js/script.js"></script>