<div id="subastas">
      <div class="am">
        <section class="envivo" ng-init="vm.setPagination(14)">
          <h2>Subastas en vivo<span>¡Se el último en ofertar y gana!</span></h2>
                    <h2 ng-hide="vm.live.length>0">No hay subastas en vivo en este momento.</h2>
          <div class="moteadas">
            <article ng-class="item.destacado === true ? 'dest' : ''" ng-repeat="item in vm.live | startFrom:vm.currentPage*vm.pageSize | limitTo:vm.pageSize">
              <header>
                <h3><a href="javascript:;" ui-sref="homes.details({ detalle_subastaId: item._id })">{{item.titulo}}</a></h3>
                <h4>precio de mercado<b> S/. {{item.producto.precio_normal}}</b></h4>
              </header>
              <div class="mini-slider">
                <div class="imagenes">
                  <a href="item.html" title="{{item.titulo}}" ui-sref="homes.details({ detalle_subastaId: item._id })">
                    <img ng-src="{{item.producto.thumbnail_1}}" alt="#" alt="#">
                  </a>
                  <a href="item.html" title="{{item.titulo}}" ui-sref="homes.details({ detalle_subastaId: item._id })">
                    <img ng-src="{{item.producto.thumbnail_2}}" alt="#"></a>
                    
                  <a href="item.html" title="{{item.titulo}}" ui-sref="homes.details({ detalle_subastaId: item._id })">
                    <img ng-src="{{item.producto.thumbnail_3}}" alt="#">
                  </a>
                </div>
                <button>
                  <span class="icon-flecha-izquierda"></span>
                </button>
                <button>
                  <span class="icon-flecha-derecha"></span>
                </button>
              </div>
              <div class="tipos">
                <a class="rapidita">
                  <span class="icon-pentagono"></span>
                    <i class="icon-rayo"></i>
                  <span>
                  <b>La rapidita</b> 
                  Ésta subasta no tiene reinicio de tiempo, quien llegue primero a ofertas 10 veces ¡GANA!
                  </span>
                </a>
                <a class="cumpleanos">
                  <span class="icon-pentagono"></span>
                    <i class="icon-torta"></i>
                      <span><b>
                        La cumpleañera
                        </b> Tendrás la posibilidad de pujar dos veces por el precio de una, ok no XD
                      </span></a><a class="vistas"><span class="icon-pentagono"></span><i class="icon-ojo"></i><span><b>Un titulo interesante</b> No se me ocurre que poner acá, pero seguro despues se me ocurrirá, ¿o no?</span></a><a class="pelea"><span class="icon-pentagono"></span><i class="icon-guantes"></i><span><b>Muerte súbita</b> No hay limite de tiempo, el último que dé su puja, ganará si o si ¿que esperas? ¡PUJA!</span></a></div>

                  <span class="tiempo" ng-show="item.remainingLiveTime">{{item.remainingLiveTime | CommonFilter}}</span>
                  <span class="tiempo" ng-hide="item.remainingLiveTime || item.estado === 3">{{item.tiempo_restante + 1000 | CommonFilter}}</span>
                  <strong>S./ {{item.cant_pujas / 100}}</strong>
                  <button ng-show="item.estado === 1" ng-click="vm.pushAuction(item, vm.userdata)" ng-if="vm.auth===true">OFERTAR</button>
                  <button ui-sref="login" ng-if="vm.auth===false">OFERTAR</button>
                  <span class="ultimo" ng-if="item.ultima_oferta">{{item.ultima_oferta.username}}</span>
                  <span class="ultimo" ng-if="!item.ultima_oferta">NO EXISTEN OFERTAS AÚN</span>

            </article>
          </div>
        </section>
          <div class="navegacion" ng-show="vm.live.length>0">
            <button ng-disabled="vm.currentPage == 0" ng-click="vm.currentPage=vm.currentPage-1">&lt;&lt; Anterior<span>Página anterior</span></button>
            <button class="activo">{{vm.currentPage+1}}</button>
            <button ng-show="vm.numberOfPages(vm.completed) !=1" ng-disabled="vm.currentPage >= vm.live.length/vm.pageSize - 1" ng-click="vm.currentPage=vm.numberOfPages(vm.live)-1"><span class="paginate">-</span> {{vm.numberOfPages(vm.live)}} </button>
            <button ng-disabled="vm.currentPage >= vm.live.length/vm.pageSize - 1"  ng-click="vm.currentPage=vm.currentPage+1">&gt;&gt; Siguiente<span>Siguiente página</span></button>
          </div>
      </div>
    </div>

    <script type="text/javascript" src="assets/js/slider.js"></script>
