 <main id="gracias-por-tu-compra">
      <div class="am">
        <h1>Gracias por tu compra</h1>
        <p>En breve recibirás un correo electrónico de confirmación, donde podrás ver el resumen de tu compra. Revisa tambien en <a href="mi-cuenta-resumen.html" title="Mi Cuenta | Resumen">'Mi cuenta'</a> que tus solsazos, ya han sido agregados</p>
        <p><span><b>No me llego el correo:</b><a href="#" title="Enviame otro">Envienme otro correo</a></span><span><b>Comunicate con nosotros:</b><a href="mailto:soporte@solbasta.com" title="Correo de soporte">soporte@solbasta.com</a><a href="#" title="Twitter Solbasta">twitter/solbasta</a><a href="#" title="Facebook Solbasta">facebook/solbasta</a></span></p>
      </div>
    </main>
 
    <script type="text/javascript" src="assets/js/script.js"></script>