 <main id="revisa-tu-mail">
      <div class="am">
        <h1>Revisa tu mail<span>Bienvenido a la mejor red de subastas</span></h1>
        <p>Bienvenido! Gracias por registrarte. <span>Te hemos enviado un correo electrónico</span> a la dirección que registrate, por favor revisa tu correo para activar tu cuenta. Si no ves el correo en tu bandeja de entrada, podría haber llegado a “correo no deseado”o SPAM, si es asi agrega nuestra dirección como un remitente seguro, para no perderte ninguno de nuestros correos.</p>
        <p><span><b>No me llego el correo:</b>
        <a href="#" id="mail" title="Enviame otro" ng-click="vm.sendMail()">{{vm.message}}</a>
        </span><span><b>Comunicate con nosotros:</b>
        <a href="mailto:soporte@solbasta.com" title="Correo de soporte">soporte@solbasta.com</a><a href="#" title="Twitter Solbasta">twitter/solbasta</a><a href="#" title="Facebook Solbasta">facebook/solbasta</a></span></p>
      </div>
    </main>
 
    <script type="text/javascript" src="assets/js/script.js"></script>