   <main id="preguntas-frecuentes" ng-init="vm.changeBodyStyle('')">
      <div class="am">
      <h1>Preguntas frecuentes</h1>      
      <ul>
        <li>
          <h2>Acerca de Solbasta!</h2>
          <ul>
            <li>
              <h3>¿Qué es solbasta?</h3>
              <p>SolBasta es una página web de comercio electrónico, de nacionalidad peruana, siendo esta una alternativa diferente y novedosa de compra, mediante subastas al centavo. Lo que quiere decir que las subastas van a ir aumentando su precio, centavo a centavo, según la moneda peruana: el sol.</p><p>Esta página beneficia de una gran manera a sus ganadores, dándoles la oportunidad de comprar productos y servicios a precios increíbles; tan irresistibles como llegar a pagar solo el 99% del precio original del producto o servicio ofrecido. Los cuales podrían ser de diferentes categorías para satisfacer las distintas necesidades y gustos de nuestros clientes, como por ejemplo: smartphones, entradas, juegos, libros y más productos de marcas de todo el mundo.</p>
              <p>¡Sólo registrarte <a href="register" title="Registrarte">aquí</a> y verás lo sencillo y divertido que es participar y ganar!</p>
            </li>
            <li>
              <h3>¿Cuál es el método de las subastas?</h3>
              <p>El método de las subastas en SolBasta es muy sencillo. Para empezar, todas las subastas, tiene un precio inicial de cero (S/ 0.00), con cada oferta el precio se incrementa en solo un centavo, el último en ofertar antes de que el temporizador de la subasta llegue a cero tiene la opción de comprar el producto al precio al que termino la subasta, que puede ser hasta 99% menor al precio de mercado, posterior a esto, el producto o servicio se te entregara directamente en pocos días, y al lugar que tú nos indiques. ¡No esperes más y haz tu oferta!</p><p>Empieza <a href="register" title="Registrarte">aquí.</a></p>
            </li>
            <li>
              <h3>¿Cómo puedo empezar a subastar?</h3>
              <p>Para empezar a subastar tienes que  <a href="register" title="Registrarte">registrarte</a> en nuestra página web, una vez realizado eso deberás comprar Solsazos, cada uno de estos te dará la oportunidad de subastar, lo que quiere decir que, cada solsazo es igual a una subasta. Cada vez que subastes con tu solsazo, el precio de la subasta aumentara en un centavo y 10 segundos en el tiempo. Si el tiempo se acaba y fuiste el último en subastar. Serás ganador y acreedor de esa subasta.</p><p>Empieza <a href="register" title="Registrarte">aquí.</a></p>
            </li>
            <li>
              <h3>¿SolBasta llega a mi cuidad?</h3>
              <p>SolBasta opera en todo el Perú, en relación a los productos. Los artículos subastados podrán ser enviados a todas las ciudades del país. Podrá haber algunas excepciones, en caso la localidad sea muy remota.</p><p>Para más información ver: <a href="#" title="Políticas de envió">Políticas de envió.</a></p>
            </li>
            <li>
              <h3>¿Quiénes pueden jugar?</h3>
              <p>Todos los peruanos mayores de 18 años pueden ser parte de nuestra red de subastas: SolBasta. No hay ningún tipo de restricción adicional. Sólo <a href="register" title="Registrarte">regístrate</a> y ¡Empieza a ganar!</p>
            </li>
            <li>
              <h3>¿Puedo jugar si soy menor de edad?</h3>
              <p>Lo que tienes que hacer si eres menor de edad, es pedirle permiso a un adulto responsable que supervise tu juego y acepte brindarte sus datos. El será quien se haga responsable por cualquier acción que se pueda generar ante tu juego. Por ejemplo si ganas una subasta, el adulto que haya aceptado supervisarte tendrá que ser quien firme por el producto o servicio entregado, y quien se haga cargo de los gastos que generes en monedas. Por cualquier tipo de insatisfacción o duda, será este adulto quien se haga responsable de tus acciones. </p>
            </li>
            <li>
              <h3>¿Dónde están ubicados?</h3>
              <p>No tenemos tiendas físicas, todas nuestras ventas se llevan a cabo a través de nuestro sitio web www.solbasta.com.  Pero si deseas también nos puedes encontrar en nuestras redes. Síguenos para comunicarte con nosotros ante cualquier consulta o duda. Y además para que te enteres de las subastas que se vienen y puedas disfrutar de las mejores promociones creadas especialmente para ti.</p>
              <p>(iconos de redes sociales)</p>
            </li>
            <li>
              <h3>¿Cómo me comunico con ustedes?</h3>
              <p>SolBasta cuenta con diferentes medios para que puedas comunicarte con nosotros sin ningún tipo de problema. Encuéntranos y comunícate con nosotros por:</p>
              <p>(Iconos redes sociales) consultas@solbasta.com</p>
            </li>
          </ul>
        </li>
        <li>
          <h2>SOLSAZOS</h2>
          <ul>
            <li>
              <h3>¿Qué son solsazos?</h3>
              <p>Los Solsazos son la moneda oficial de SolBasta, con esta moneda tú podrás ofertar en las diferentes subastas que ofrecemos. Cada Solsazos es una oportunidad de ganar. Esto significa que con cada Solsazo que tu tengas vas a poder realizar una oferta. Por ejemplo 10 solsazos = 10 oportunidades para poder subastar. Recuerda que comprar solsazos no es la única manera de conseguirlas. También tienes un código propio para compartir con usuarios nuevos, y muchas ofertas y novedades en nuestras redes sociales, que te harán ganar muchas monedas para subastar!</p>
            </li> 
            <li>
              <h3>¿Por qué necesito comprar Solsazos para poder ofertar?</h3>
              <p>El modelo de negocio de SolBasta está realizado bajo un esquema de pago por oferta, así podemos garantizar grandes descuentos a todos los ganadores de las subastas de manera sostenible.</p>
            </li>  
            <li>
              <h3>¿A cuánto equivale un Solsazo?</h3>
              <p>Los solsazos tiene diferentes precios dependiendo el costo del combo que se compre, los cuales estarían tendiendo un precio aproximado de s/1 cada uno, ¡Si s/1!, para que cualquier usuario tenga la oportunidad de comprar solsazos y participar en las mejores subastas en línea.</p>
            </li>  
            <li>
              <h3>¿Cómo compro solsazos?</h3>
              <p>Es muy fácil, solo dale click a: “Comprar solsazos” en el menú superior, este te llevará a la página de compra, donde podrás escoger el combo que mejor se acomode a tu gusto, o combinar combos para elegir el mejor precio. Una vez que agregues tu(s) combos(s), elige el método de pago de tu preferencia y dale click pagar. </p>
            </li>   
            <li>
              <h3>¿Cómo puedo pagar mis solsazos?</h3>
              <p>Muy fácil, ingresando tu tarjeta de crédito o débito, ya sea: Visa, MasterCard, Diners Club, CMR, tarjeta OH!, American Express, tarjeta Ripley, Cencosud, presta y UnionPay . O si no cuentas con una de ellas, también puedes pagar con efectivo, en cualquiera de los bancos que acepta “Pago en Efectivo”</p>
            </li>    
          </ul> 
        </li>
        <li>
          <h2>MEDIOS DE PAGO:</h2>
          <ul>
            <li>
              <h3>¿Aceptan tarjetas de Crédito y Débito?</h3>
              <p>¡Claro que sí!, aceptamos varios tipos de tarjetas, para facilitar tu compra, sólo ingresa el número de tu tarjeta y automáticamente nuestra web reconocerá que tarjeta estas ingresando (Visa, MasterCard, Diners Club, CMR, OH! Y muchas más). De esta manera aseguramos tu compra y el registro de tu tarjeta. Recuerda este método de pago es 100% seguro, pero si aún no confías en los pagos por internet, también tenemos la opción de paga, con <a href="#" title="Pago efectivo">“Pago en Efectivo”</a></p>
            </li>
            <li>
              <h3>¿Qué es Pago en Efectivo?</h3>
              <p>Pago en efectivo es un método muy seguro de compra, con el cual podrás pagar en efectivo, en tu banco preferido. Para más información <a href="" title="Pago efectivo">aquí.</a></p>
            </li>
            <li>
              <h3>¿Cómo funciona Pago en Efectivo?</h3>
              <p>Si eliges este método de pago, será muy sencillo pagar. Al momento de terminar tu compra, te daremos un código el cual tendrás que presentar en el banco que decidas pagar, así ellos sabrán que quieres comprar en nuestra web. Una vez que pagues en el banco, tus solsazos serán agregados a tu cuenta</p>
            </li>
            <li>
              <h3>¿Cómo sé que pagar en SolBasta es seguro?</h3>
              <p>Nuestra página web cuenta con un certificado SSL, que asegura tus transacciones en internet. Es el líder de confianza en servicios de seguridad online, y lo incluimos en nuestra red de subastas, para obtener tu confianza con nosotros. Puedes verificar esto, viendo el candado verde que se encuentra al costado del link de la página. De esta manera aseguramos que todas tus compras y datos de tarjetas estarán 100% seguros. ¡No esperes más! Y <a href="#" title="consigue tus solsasos">consigue ya tus Solsazos</a></p>
            </li>
            <li>
              <h3>Yo registre mi nombre y mi correo electrónico, antes del lanzamiento oficial de la página ¿Cómo hago para jugar ahora?</h3>
              <p>Si diste tu mail y tu nombre en nuestra página de pre lanzamiento, debe haber llegado un mensaje a tu correo donde indicábamos que tenías que terminar de registrarte para poder conseguir los dos solsazos de prueba. Si no te llego el correo a tu bandeja de entrada, es muy probable que se encuentre en tu bandeja de ‘correos no deseados’. O si no lo viste, tendrás que registrarte por completo para empezar a jugar, ya que necesitamos todos tus datos para que puedas subastar.</p>
            </li>
            <li>
              <h3>¿Todas las subastas son iguales?</h3>
              <p>No, todas las subastas incluyen un icono, que muestran el o los <a href="#" title="tipos de subastas">tipos de subastas</a> que se está(n) realizando, ya que queremos que todos tengan las mismas oportunidades de ganar o darles sorpresas especiales, por ejemplo, si vemos un icono verde, con una torta, significa que esa subasta está dirigida especialmente a las personas que cumplen años ese mes. Pero no te preocupes, en la mayoría de nuestras subastas todos juegan. </p>
              <p>Mira los tipos de subastas <a href="#" title="tipos de subastas">aquí</a></p>
            </li>
          </ul>
        </li>
        <li>
          <h2>PRODUCTOS Y ENVIOS:</h2>
          <ul>
            <li>
              <h3>¿Los productos que se subastan son nuevos? </h3>
              <p>Todos los productos que se subastan en Solbasta son 100% nuevos. No subastamos productos usados, en reparación o de segunda mano. </p>
            </li>
            <li>
              <h3>¿Cómo obtengo un producto ganado?</h3>
              <p>El envío de tu producto es totalmente gratis. Si fueras ganador de una de nuestras subastas, solo tendrás que pagar el precio en el que quedo la subasta, y automáticamente estaremos enviando tu producto a la dirección que hayas registrado en tu cuenta. Asegúrate que esta dirección sea correcta, para que no hayan conflictos en el envió.</p>
              <p>El plazo de entrega dentro de Lima es de 3 a 5 días, mientras que en el resto del país el plazo de entrega es de 5 a 8 días. Debes tener en consideración que estos tiempos de envío no consideran fines de semana ni feriados. </p>
            </li>
            <li>
              <h3>¿Cómo obtengo y uso un servicio ganado?</h3>
              <p>Cuando un jugador gana un servicio en una subasta, Solbasta le envía un correo con un cupón que necesitará imprimir o mostrar desde su celular (según lo requiera la empresa del servicio), para demostrar el premio obtenido y poder hacer uso de este. Tener en cuenta también, que por lo general se requieren reservas o citas, y estas se hacen directamente con la empresa del servicio ganado.</p>
            </li>
            <li>
              <h3>¿Qué puedo hacer si mi producto llega dañado o defectuoso?</h3>
              <p>El cliente deberá detallar las fallas a SolBasta vía correo electrónico a la siguiente dirección: soporte@solbasta.com; indicando lo sucedido y los daños generados en el producto, dentro de las 24 horas siguientes a la recepción del mismo. En caso que fuera un daño de empaque, se encuentre abierto u otro detalle similar, se deberá notificar también a la empresa de transporte de manera escrita, en la guía de remisión del producto la cual le harán firmar al momento de la entrega. El cliente deberá seguir los pasos mencionados y nosotros nos encargaremos de darle una pronta solución.</p>
            </li>
          </ul>
        </li>
        <li>
          <h2>MI PREGUNTA NO SE ENCUENTRA </h2>
          <ul>
          <li>Si tienes más dudas <a href="#" title="registrate">regístrate</a> aquí y <a href="#">comunícate</a> con nosotros
              Si ya eres usuario <a href="#">entra</a> a la página y <a href="#">comunícanos</a> tu duda
              ¡No esperes más y empieza a ahorrar!
            </li>
          </ul>
        </li>
      </ul>
    </div>
    </main>
    <script type="text/javascript" src="assets/js/script.js"></script>
