<main id="terminos-y-condiciones">
      <div class="am">
        <h1>Terminos y condiciones de uso</h1>
        <p>SOLBASTA S.R.L (“SOLBASTA TU RED DE SUBASTAS”) pone a disposición el presente documento (la “Política de Privacidad”) para informar acerca de las políticas y procedimientos relacionados a la recopilación, uso y divulgación de información personal que recibe de los usuarios (los “Usuarios”) del sitio web de Internet www.lukana.pe (el “Sitio Web”) y las correspondientes aplicaciones para dispositivos móviles (las "Aplicaciones"). La Política de Privacidad se aplica sólo a la información que los Usuarios nos proporcionan a través del Sitio Web y/o sus Aplicaciones.</p>
        <p>La Política de Privacidad cumple con los parámetros establecidos en las normas nacionales sobre protección de datos personales,  en particular, la Ley No. 29733, Ley de protección de datos personales, y el Decreto Supremo 003-2013-JUS, Reglamento de la Ley (la “Ley”). LUKANA se reserva el derecho a modificar la Política de Privacidad, lo cual será comunicado vía correo electrónico con razonable anticipación a su entrada en vigencia. Este documento es parte integrante de los Términos y Condiciones Generales.</p>
        <ul>
          <li>
            <h2> <span class="icon-mano"></span>Introduccion</h2>
            <p>Al registrarse al Sitio Web y/o sus Aplicaciones, el Usuario deberá brindar datos de carácter personal, lo que incluye, pero no está limitado a, su nombre, documento su nombre, documento de identidad, número de teléfono, direcciones de envío y de facturación y dirección de correo electrónico, ("Datos Personales"). </p>
          </li>
          <li>
            <h2> <span class="icon-libreta"></span>Aceptacion de los terminos y condiciones de uso</h2>
            <p>Al registrarse al Sitio Web y/o sus Aplicaciones, el Usuario deberá brindar datos de carácter personal, lo que incluye, pero no está limitado a, su nombre, documento su nombre, documento de identidad, número de teléfono, direcciones de envío y de facturación y dirección de correo electrónico, ("Datos Personales"). </p>
          </li>
          <li>
            <h2> <span class="icon-megafono"></span>Dibulgacion de informacion</h2>
            <p>Al registrarse al Sitio Web y/o sus Aplicaciones, el Usuario deberá brindar datos de carácter personal, lo que incluye, pero no está limitado a, su nombre, documento su nombre, documento de identidad, número de teléfono, direcciones de envío y de facturación y dirección de correo electrónico, ("Datos Personales"). </p>
          </li>
          <li>
            <h2> <span class="icon-oro"></span>Objeto</h2>
            <p>Al registrarse al Sitio Web y/o sus Aplicaciones, el Usuario deberá brindar datos de carácter personal, lo que incluye, pero no está limitado a, su nombre, documento su nombre, documento de identidad, número de teléfono, direcciones de envío y de facturación y dirección de correo electrónico, ("Datos Personales"). </p>
          </li>
          <li>
            <h2> <span class="icon-usuario"></span>Acceso y utilizacion del sitio web</h2>
          </li>
          <li>
            <h2> <span class="icon-computadora"></span>Uso correcto del sitio web</h2>
          </li>
          <li>
            <h2> <span class="icon-papel"></span>Regimen aplicable a la colocacion de enlaces (hyperlinks)</h2>
          </li>
          <li>
            <h2> <span class="icon-dinero"></span>Compra y pago de solsazos</h2>
          </li>
          <li>
            <h2> <span class="icon-dinero"></span>Pagos</h2>
          </li>
          <li>
            <h2> <span class="icon-bolitas"></span>Proceso de subasta</h2>
          </li>
          <li>
            <h2> <span class="icon-usuarios2"></span>Oferta / Ayudante de oferta</h2>
          </li>
          <li>
            <h2> <span class="icon-manito2"></span>Limite de subastas ganadas</h2>
          </li>
          <li>
            <h2> <span class="icon-bolitas"></span>Aceptacion del producto y pago</h2>
          </li>
          <li>
            <h2> <span class="icon-bolitas"></span>Productos</h2>
          </li>
          <li>
            <h2> <span class="icon-bolitas"></span>Entrega de productos</h2>
          </li>
          <li>
            <h2> <span class="icon-bolitas"></span>Invitados</h2>
          </li>
          <li>
            <h2> <span class="icon-bolitas"></span>Promociones</h2>
          </li>
          <li>
            <h2> <span class="icon-bolitas"></span>Comportamiento honesto</h2>
          </li>
          <li>
            <h2> <span class="icon-bolitas"></span>Propiedad intelectual</h2>
          </li>
          <li>
            <h2> <span class="icon-bolitas"></span>Propiedad intelectual de terceros</h2>
          </li>
          <li>
            <h2> <span class="icon-carnet2"></span>Licencia</h2>
          </li>
          <li>
            <h2> <span class="icon-candado2"></span>Seguidad y funcionamiento del sitio web</h2>
          </li>
          <li>
            <h2> <span class="icon-bolitas"></span>Fallas en el sistema</h2>
          </li>
          <li>
            <h2> <span class="icon-bolitas"></span>Exclusion de responsabilidad</h2>
          </li>
          <li>
            <h2> <span class="icon-bolitas"></span>Idemnidad</h2>
          </li>
          <li>
            <h2> <span class="icon-bolitas"></span>Notificaciones</h2>
          </li>
          <li>
            <h2> <span class="icon-papel"></span>Jurisdiccion legislacion aplicable</h2>
          </li>
          <li>
            <h2> <span class="icon-bolitas"></span>Libro de reclamaciones</h2>
          </li>
          <li>
            <h2> <span class="icon-bolitas"></span>Cierre de la cuenta</h2>
          </li>
        </ul>
      </div>
    </main>
        <script type="text/javascript" src="assets/js/script.js"></script>
