<div id="content" class="content">

      <div class="row">
          <div class="col-md-12">
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                            </div>
                            <h4 class="panel-title">Detalles de producto</h4>
                        </div>
                        <div class="panel-body">
                            <section>
                      <a ui-sref="productos.list"><i class="fa fa-reply-all"></i> VOLVER AL LISTADO</a>
                                <div class="page-header">
                                  <h1 ng-bind="vm.producto.nombre"></h1>
                                </div>
                                <!--<div class="pull-right" ng-show="vm.producto.isCurrentUserOwner">-->
                                <div class="pull-right">
                                  <a class="btn btn-primary" ui-sref="productos.editslider({ productoId: vm.producto._id })">
                                    <i class="glyphicon glyphicon-edit"></i>
                                  </a>
                                  <a class="btn btn-primary" ng-click="vm.remove()">
                                    <i class="glyphicon glyphicon-trash"></i>
                                  </a>
                                </div>
                                <p>Descripcion larga</p>
                                <p class="lead" ng-bind="vm.producto.descripcion_larga"></p>
                                <p>Descripcion corta</p>
                                <p class="lead" ng-bind="vm.producto.descripcion_corta"></p>
                                <p>Etiquetas</p>
                                <p class="lead" ng-bind="vm.producto.tags"></p>
                                <p>creado</p>
                                <p class="lead" ng-bind="vm.producto.created | date :  'dd.MM.y'"></p>
                            </section>
                        </div>
                    </div>
          </div>
      </div>
    </div>


