 <div id="content" class="content">
  
      <div class="row">
          <div class="col-md-12">
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                            </div>
                             <h4 class="panel-title">Bienvenid@s al panel de subastas</h4>
                            
                        </div>
                        <div class="panel-body">
                            <section>
                              <div class="page-header">
                                <h1>{{vm.detalle_subasta._id ? 'Modificar Subasta' : 'Subastar producto'}}</h1>
                              </div>
                              <div class="col-md-12">
                                <form name="vm.form.detalle_subastaForm" class="form-horizontal" ng-submit="vm.save(vm.form.detalle_subastaForm.$valid)" novalidate>
                                  <fieldset>
                                  <div class="form-group" show-errors>
                                    <label class="control-label" for="producto">Qúe producto deseas subastar?</label>   
                                     <select  name="producto" type="text" ng-model="vm.detalle_subasta.producto" id="producto" class="form-control">
                                       <option ng-repeat="item in vm.productos" value="{{item._id}}">{{item.nombre}}</option>
                                     </select>
                                      <div ng-messages="vm.form.detalle_subastaForm.producto.$error" role="alert">
                                        <p class="help-block error-text" ng-message="required">Elige el producto que vas a subastar</p>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label" for="rapidita">La rapidita</label>   
                                      <input id="rapidita" type="checkbox" value="rapidita" ng-model="vm.detalle_subasta.tipos.rapidita">
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label" for="revancha">La revancha</label>   
                                      <input id="revancha" type="checkbox" value="revancha" ng-model="vm.detalle_subasta.tipos.revancha" ng-disabled="vm.detalle_subasta.tipos.estandar === true">
                                  </div> 
                                  <div class="form-group">
                                    <label class="control-label" for="novato">El novato</label>   
                                      <input id="novato" type="checkbox" value="novato" ng-model="vm.detalle_subasta.tipos.novato" ng-disabled="vm.detalle_subasta.tipos.estandar === true">
                                  </div> 
                                  <div class="form-group">
                                    <label class="control-label" for="Estándar">Todos Juegan</label>   
                                      <input id="Estándar" type="checkbox" value="Estándar" ng-model="vm.detalle_subasta.tipos.estandar" ng-disabled="vm.detalle_subasta.tipos.revancha === true || vm.detalle_subasta.tipos.cumpleanero ===true || vm.detalle_subasta.tipos.novato === true">
                                  </div> 
                                  <div class="form-group">
                                    <label class="control-label" for="cumpleanero">El cumpleañero</label>   
                                      <input id="cumpleanero" type="checkbox" value="cumpleanero" ng-model="vm.detalle_subasta.tipos.cumpleanero" ng-disabled="vm.detalle_subasta.tipos.estandar === true">
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label" for="menosveinte">Subasta -20</label>   
                                      <input id="menosveinte" type="checkbox" value="menosveinte" ng-model="vm.detalle_subasta.tipos.menosveinte">
                                  </div>



                                  <div class="form-group">
                                      <label class="control-label" for="titulo">Título de subasta</label>
                                      <input type="text" name="titulo" data-ng-model="vm.detalle_subasta.titulo" id="titulo" class="form-control" cols="30" rows="10" placeholder="Campo obligatorio"/>
                                  </div>
                                  <div class="form-group">
                                      <label class="control-label" for="descripcion">Breve descripción de subasta</label>
                                      <input type="text" name="descripcion" data-ng-model="vm.detalle_subasta.descripcion" id="descripcion" class="form-control" cols="30" rows="10" placeholder="Campo obligatorio"/>
                                  </div>

                                   <div class="form-group col-md-6">
                                      <label class="control-label" for="fecha_inicio2">Fecha de inicio 2 de subasta</label>
                                       <small class="list-group-item-text"> Por favor sé cuidados@ ingresando la fecha y hora de inicio.</small>
                                      <input type="text" name="fecha" data-ng-model="vm.fecha" id="fecha" class="form-control" placeholder="Campo obligatorio"/>
                                  </div>

                                  <div class="form-group col-md-6" >
                                    <label class="control-label" for="fecha_inicio">Hora de inicio de subasta</label>
                                    <input type="text" id="hora" class="form-control"/>

                                    <script type="text/javascript">
                                     $('#hora').timepicker({
                                      timeFormat: 'H:mm',
                                      interval: 30,
                                      minTime: '24',
                                      maxTime: '23:00',
                                      defaultTime: '00',
                                      startTime: '10:00',
                                      dynamic: true,
                                      dropdown: true,
                                      scrollbar: true
                                    });

                                     $('#fecha').datepicker({ dateFormat: 'dd-mm-yy' });
                                    </script>
                                  </div>
                                  <div class="form-group">
                                      <label class="control-label" for="min_pujas">Ingresa una cantidad mínima de pujas</label>
                                      <input type="text" name="min_pujas" data-ng-model="vm.detalle_subasta.min_pujas" id="fecha_fin" class="form-control" placeholder="Dejar este campo vacío hará que las pujas minimas por defecto sean 100 000"/>
                                  </div>
                                  <div class="form-group">
                                      <label class="control-label" for="max_pujas">Ingresa una cantidad máxima de pujas</label>
                                      <input type="text" name="max_pujas" data-ng-model="vm.detalle_subasta.max_pujas" id="max_pujas" class="form-control" placeholder="Dejar este campo vacío hará que las pujas minimas por defecto sean 100 000"/>
                                  </div>
                                  <div class="form-group">
                                    <div class="checkbox">
                                      <label><input name="shipping" data-ng-model="vm.detalle_subasta.shipping" id="shipping" type="checkbox" value="">Envío gratuito?</label>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                  <div class="checkbox">
                                    <label><input name="destacado" data-ng-model="vm.detalle_subasta.destacado" id="destacado" type="checkbox" value="">Destacado?</label>
                                  </div>
                                </div>
                                  <div class="form-group">
                                      <button type="submit" class="btn btn-default">{{vm.detalle_subasta._id ? 'Actualizar Subasta' : 'Crear Subasta'}}</button>
                                    </div>
                                  <div ng-show="vm.error" class="text-danger">
                                      <strong ng-bind="vm.error"></strong>
                                    </div>
                                  </fieldset>
                                </form>
                              </div>
                            </section>

                        
                            
                        </div>
                    </div>
          </div>
      </div>
    </div>
